*{
    font-family: 'Inter', sans-serif;
}
.first_section{
    background-image: linear-gradient(rgb(18 18 18 / 25%), rgb(18 18 18 / 65%)), url(images/donation0.jpg);
    background-repeat: no-repeat;
    height: 900px;
    background-size: cover;
}
#toper{
    text-align: center;
    padding-top: 20%;
    color: #FFF;
    font-size: 55px;
    margin-bottom: 0;
}
#lower{
    margin-top: 19px;
    text-align: center;
    color: #FFF;
    font-size: 55px;
}
.topp{
    text-align: center;
    margin-bottom: 0;
    color: #FFF;
   letter-spacing: 1px;
   line-height: 25px;
}
.lowp{
    margin-top: 0px;
    text-align: center;
    color: #FFF;
    letter-spacing: 1px;
    margin-bottom: 6%;
}


.btn{
    background-color: #FF5959;
    text-decoration: none;
    padding: 14px 35px;
    color: #fff;
    text-align: center;
    margin-left: 44%;
    border-radius: 10px;
}

.donate_today p, .donate_plan p, .contribute_child p, .ge_updates p{
    color: #707070;
}

.donate_today h3, .donate_plan h3, .contribute_child h3, .ge_updates h3{
    text-align: center;
    padding-top: 6%;
    color: #121212;
    font-size: 27px;
}

.donate_divided{
    display: flex;
}
.box{
    padding: 40px 50px;
    margin-right: 2%;
    background-color: #e5e2e2;
    font-size: 25px;
    font-weight: 700;
}
.donate_divided :hover{
    color:#FF5959;
    border: 1px solid #FF5959;
    background-color: #e25f5f6e;
}
.box_1{
    margin-left: 13%;
}

.other_amount{
    text-align: center;
    padding-top: 5%;
}
hr{
    width: 75%;
    margin-bottom: 3%;
}

.content_box{
    display: flex;
}

.c_box{
    padding: 18px 18px;
    margin-right: 2%;
    background-color: #e5e2e2;
    font-size: 15px;
    font-weight: 200;
    height: 235px;
    width: 253px;
    border-radius: 5px;
}

.c_box p{
    color: #707070;
    text-align: justify;
}

.c_box_first{
    margin-left: 18%;

}

.contribute{
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
}
.contribute_child{
    width:40%
}
.left h3{
    text-align: left;
}
.left p{
    text-align: justify;
    margin-bottom: 0;
    color: #707070;
    letter-spacing: 0px;
    line-height: 25px;
    
}
.lower_child{
    margin-bottom: 15%;
}

.left .btn{
    margin-left: 0%;
}

.contribute img{
    height: 477px;
    width: 456px;
    padding-left: 25%;
}

.right{
    margin-left: 10%;
}

.survie img{
    padding-right: 25%;
    padding-left: 0%;
}

input{
    padding: 12px 0px;
    width: 30%;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    color: #121212;
}
.input_with{
    padding: 12px;
    background-color: #FF5959;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.information{
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 10%;
}

footer{
    background-color: #121212;
    font-family: lob;
    padding: 2% 0;
    text-align: center;
}
footer h4{
    color: #FF5959;
    font-size: 24px;
}

footer p{
    color: #707070;
    font-size: 15px;
}